/* Base styles for Login page */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

html, body {
  height: 100%; /* Ensure the body takes the full height */
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
  width: 100%;
  padding: 20px;
  background: url('./Images/signuploginimage.jpg') no-repeat center center/cover; 
}

.auth-buttons {
  margin-bottom: 20px;
}

.auth-buttons button {
  padding: 12px 24px; 
  margin: 0 5px;
  border: 2px solid #007bff; 
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s; 
}

.auth-buttons .active {
  background-color: #0056b3;
  border-color: #0056b3;
}

forms {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 350px; 
  padding: 30px; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  margin: 0 auto; /* Center the form horizontally */
}

input {
  margin-bottom: 15px; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; 
}

button {
  padding: 12px;
  border: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px; 
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: #d9534f;
  margin-top: 10px;
}

/* Media Queries */

/* For devices with a width of 768px or less (tablets and small screens) */
@media (max-width: 768px) {
  .login-container {
    padding: 20px;
    min-height:60vh;
    /* Ensure the form is centered vertically within the container */
  }

  forms {
    max-width: 300px; /* Decrease the width of the form */
    padding: 20px; 
  }

  input {
    font-size: 14px; 
  }

  button {
    font-size: 14px; 
  }
}


@media (max-width: 480px) {
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; 
    width: 100%;
    padding: 20px;
  
  }

  forms {
    max-width: 280px; 
    padding: 15px; 
    /* margin-bottom:250px; */
  }

  input {
    font-size: 14px;
  }

  button {
    font-size: 14px; 
  }
}
@media (max-width: 1024px) {
  .login-container {
    padding: 20px;
     min-height:70vh; 
    
  }
  forms {
    /* max-width: 280px;  */
    padding: 15px; 
    margin-bottom:250px;
  }
}
@media (max-width: 1200px) {
  forms {
      /* max-width: 280px; */
      padding: 15px;
      margin-bottom: 367px;
  }
  .login-container {
    padding: 20px;
     min-height:70vh; 
    
  }
}