
 .sidebar {
  background-color: white;
  overflow: hidden;
  width: 180px;
  display: flex;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  cursor: pointer;
  z-index: 1000;
  border-radius: 20px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: black;
  padding: 10px;
  border-radius: 15px;
  width:130px;
 
  
}
.sidebar a:hover {
  background-color: black;
  border-radius: 10px;
  color: white;
}
.sidebar-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: italic;
  color: white;
  background-color: black;
  border-radius: 15px;
  margin-right: 10px;
}

.globe {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.globe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar a {
  color: black;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  text-decoration: none;
  font-size: 19px;
 
 width:150px;
  
  margin-bottom: -10px;
  width:150px;
}

.logout-button {
  display: flex;
  align-items: center;
  background-color: black;
  cursor: pointer;
  margin-top: auto;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size:medium;
 
} 

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}


.hamburger {
  display: none; 
  cursor: pointer;
  padding: 10px;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  width: 100%;
  margin-left: -20px;
}

li a, .logout-button {
  color: white;
  text-decoration: none;
  display: block;
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
@media (max-width: 576px) {
  .hamburger {
    display: block;
  }
}



.modal-overlay {
  position: fixed;
  top: 100px; 
  right: 50px; 
  width: 200px; 
  height: auto; 
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0; 
  z-index: 1001;
  cursor:pointer;
 }

.modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px; 
  text-align: center;
  position: relative;
  max-height: 400px; 
  overflow: hidden; 
  cursor:pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px; 
  cursor: pointer;
  color: #333;
}

.modal-photo {
  width: 60px; 
  height: 60px; 
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  cursor: pointer;
  position: relative;
}




.App {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
  margin-left: 200px;
  box-sizing: border-box;
  height: 100vh;
}

.App-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-header h2 {
  margin: 0;
}

.see-all-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.see-all-button:hover {
  background-color: #0056b3;
}

.channels-list-container1 {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

.channels-list1 {
  display: flex;
  gap: 20px;
}

.channel {
  flex: 0 0 auto;
  width: 1000px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}

.channel:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.channel-img {
  width: 80%;
  height: 120px;
  object-fit: cover;
}

.channel-name {
  padding: 10px;
  font-weight: bold;
  text-align: center;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-items {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 20px;
}

.news-item {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  width: calc(33% - 20px);
  box-sizing: border-box;
  cursor: pointer;
}

.news-item:hover {
  border: 1px solid black;
}

.news-item-img {
  max-width: 100%;
}

.news-item-content {
  padding-left: 20px;
}

.news-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-item-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
}

/* .featured-news-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
} */
.featured-news-container {
  position: relative;
  width: 100%;
  
  white-space: nowrap; 
  padding: 10px 0;
  
} 

.featured-news-container::-webkit-scrollbar {
  display: flex; 
}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px; 
}

.slick-slide img {
  max-width: 100%;
  border-radius: 5px;
}

.slick-track {
  display: flex;
  align-items: center; 
 
}


.slick-dots {
  display: none !important;
}

.carousel-controls {
  position: absolute;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.carousel-control {
  background-color: #007bff;
  border: none;
  color: white;
  font-size: 24px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-control:hover {
  background-color: #0056b3;
}

.carousel-control.left {
  margin-right: auto;
}

.carousel-control.right {
  margin-left: auto;
}

.App-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  position: relative;
  height:40px;
}

.logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-right: 20px;
  transition: transform 0.3s ease;
 margin-top:5px;
}

.logo:hover {
  transform: scale(1.1);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;
  margin-top:20px;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  flex-grow: 1;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.search-button:hover {
  background-color: #0056b3;
}

.save-button1 ,.save-button{
  text-align: center;
  background-color: #007bff;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
}
.save-button2{
  text-align: center;
  background-color: #007bff;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  
}
.news-item1 {
  
  width: 300px; 
  margin-right: 20px; 
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  box-sizing: border-box; 
  height:270px;
}

.news-item1:hover {
  border: 1px solid black;
}

.news-item-img1 {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.news-item-img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item-content {
  padding: 10px;
}

@media (max-width: 992px) {
  .header-actions {
    flex-direction: column;
    align-items: search-container;
    width: 100%;
  }

  .search-container {
    width: 80%;
    margin-bottom: 10px;
  }
 
  .search-input {
    max-width: 40%;
    margin-bottom: 10px;
  }
  .logo{
    margin-top:-50px;
    margin-left:80px;
    }
  .news-item {
    width: calc(50% - 20px);
  }

  .sidebar {
    width: 160px;
    margin-right:300px;
  }

  .App {
    margin-left: 180px;
    
  }
}

@media (max-width: 768px) {
  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }
 .logo{
  margin-top:-50px;
  margin-left:80px;
  }
 
  .news-item {
    width: calc(100% - 20px);
  }
  
  .App {
    margin-left: 180px;
  }
}
@media (max-width: 576px) {
  .search-input {
    width: 100%;
    margin-bottom: 10px;
    margin-top:20px;
  }
  
  @media (max-width: 576px) {
    .search-button {
        width: 50%;
        padding: 8px 10px;
        font-size: 14px;
        max-width: 60px;
        margin-top:10px;
    }
}

  .news-item {
    width: calc(100% - 20px);
  }
  
.App {
  margin-left: 80px;
  width: 80%;
}
@media (max-width: 576px) {
  .App {
    margin-left: 0px;
    width: 100%;
  }
}
  .logo{
    margin-top:-50px;
    margin-left:75px;
    }
}
