
 .sidebar {
  background-color: #2c4152;
  overflow: hidden;
  width: 180px;
  display: flex;
  height: 100vh;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  cursor: pointer;
  z-index: 1000;
  border-radius: 20px;
  margin-top:20px;
  
}

.sidebar-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: lightseagreen;
  padding: 10px;
  border-radius: 15px;
  width:130px;
 
  
}
.sidebar a:hover {
  background-color:lightseagreen;
  border-radius: 10px;
  color: white;
}
.sidebar-header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: italic;
  color: white;
  
  border-radius: 15px;
  margin-right: 10px;
}

.globe {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

.globe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar a {
  color:white;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  text-decoration: none;
  font-size: 19px;
 
 width:150px;
  
  margin-bottom: -10px;
  width:150px;
}

.logout-button {
  display: flex;
  align-items: center;
  background-color: lightseagreen;
  cursor: pointer;
  margin-top: auto;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  justify-content: center;
  color: black;
  font-weight: bold;
  font-size:medium;
 
} 

.sidebar.open {
  transform: translateX(0);
}

.sidebar.closed {
  transform: translateX(-100%);
}


.hamburger {
  display: none; 
  cursor: pointer;
  padding: 10px;
  /* transition: 0.6s ease; */
}
.profile-container {
  position: relative;
  /* display: inline-block; */
  display: flex;
  justify-content: center;
}

.modal-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.add-profile-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  cursor: pointer;
  text-align: flex-start;
  top: 0;
  margin-top:40px;
  right: 0;
}

.dropdown-content {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {
  background-color: #f1f1f1;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  width: 100%;
  margin-left: -20px;
}

li a, .logout-button {
  color: white;
  text-decoration: none;
  display: block;
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
@media (max-width: 576px) {
  .hamburger {
    display: block;
  }
}
.sidebar {
  /* Other properties */
  margin-top: 20px;
  margin-right: 20px; 
}



@media (max-width: 992px) {
  .App {
    margin-left: 200px; /* Adjust this value based on your design */
    padding-left: 20px; /* Ensure consistent padding on smaller screens */
  }
}

@media (max-width: 576px) {
  .App {
    margin-left: 80px; /* Adjust this value based on your design */
    padding-left: 10px; /* Adjust padding for very small screens */
  }
}




.modal-overlay {
  position: fixed;
  top: 100px; 
  right: 50px; 
  width: 200px; 
  height: auto; 
  background: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0; 
  z-index: 1001;
  cursor:pointer;
 }

.modal-content {
  background: white;
  border-radius: 10px;
  padding: 20px;
  width: 250px; 
  text-align: center;
  position: relative;
  max-height: 400px; 
  overflow: hidden; 
  cursor:pointer;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px; 
  cursor: pointer;
  color: #333;
}

.modal-photo {
  width: 60px; 
  height: 60px; 
  border-radius: 50%;
  object-fit: cover;
}

.logo {
  cursor: pointer;
  position: relative;
}




.App {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  padding: 20px;
  margin-left: 200px;
  box-sizing: border-box;
  height: 100vh;
  
    margin-left: 220px; 
    padding-left: 30px; 
  
}

.App-main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section1 {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section-head h2 {
  margin: 0;
}

.see-all-button {
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.see-all-button:hover {
  background-color:lightseagreen;
}

/* .channels-list-container1 {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  max-width: 100%;
}

.channels-list1 {
  display: flex;
  width:300px;
  gap: 20px;
} */

/* .channel {
  
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width:fit-content;
  
} */

.channel:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

/* .channel-img {
  width: 80%;
  height: 120px;
  object-fit: cover;
}

.channel-name {
  padding: 10px;
  font-weight: bold;
  text-align: center;
} */
.channels-list-container1 {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}

.channels-list1 {
  display: flex;
  gap: 20px;
}

.channel {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 150px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.channel-img {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.channel-name {
  padding: 10px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
}

.news-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.news-items {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 20px;
}

.news-item {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  width: calc(33% - 20px);
  box-sizing: border-box;
  cursor: pointer;
}

.news-item:hover {
  border: 1px solid black;
}

.news-item-img {
  max-width: 100%;
}

.news-item-content {
  padding-left: 20px;
}

.news-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.news-item-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0;
}


.featured-news-container {
  position: relative;
  width: 100%;
  
  white-space: nowrap; 
  padding: 10px 0;
  
} 

.featured-news-container::-webkit-scrollbar {
  display: flex; 
}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px; 
}

.slick-slide img {
  max-width: 100%;
  border-radius: 5px;
}

.slick-track {
  display: flex;
  align-items: center; 
 
}


.slick-dots {
  display: none !important;
}

.carousel-controls {
  position: relative;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
 
}

.carousel-control {
  background-color:lightseagreen;
  border: none;
  color: white;
  font-size: 24px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel-control:hover {
  background-color: #0056b3;
}

.carousel-control.left {
  margin-right: auto;
}

.carousel-control.right {
  margin-left: auto;
}

.App-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-bottom: 2px solid #ccc;
  position: relative;
  height:40px;
  margin-bottom:10px;
}

.logo {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-right: 20px;
  transition: transform 0.3s ease;
 margin-top:5px;
}

.logo:hover {
  transform: scale(1.1);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top:5px;
  border-radius:10px;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1 1 auto;
  margin-top:20px;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  flex-grow: 1;
}

.search-button {
  padding: 10px 20px;
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}
.section-header1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.save-button1 {
  text-align: center;
  background-color: lightseagreen;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  border-color: white;
  
 
  justify-content:center;
}
.save-button{
  text-align: center;
  background-color: lightseagreen;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  border-color: white;
  margin-top:-70px;
 
  justify-content:center;
}
.save-button2{
  text-align: center;
  background-color:lightseagreen;
  color: white;
  height: 30px;
  width: 60px;
  border-radius: 10px;
  border-color: white;
}
.news-item1 {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex: 0 0 auto;
  width: calc(33% - 20px);
  box-sizing: border-box;
  cursor: pointer;
  height:260px;
}
.news-item1:hover {
  border: 1px solid black;
}

.news-item-img1 {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.news-item-img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-item-content {
  padding: 10px;
}

@media (max-width: 992px) {
  .header-actions {
    flex-direction: column;
    align-items: search-container;
    width: 100%;
  }

  .search-container {
    width: 80%;
    margin-bottom: 10px;
  }
  
  .search-input {
    max-width: 40%;
    margin-bottom: 10px;
  }
  .logo{
    margin-top:-50px;
    margin-left:80px;
    }
  .news-item {
    width: calc(50% - 20px);
  }

  .sidebar {
    width: 160px;
    margin-right:300px;
  }

  .App {
    margin-left: 180px;
    
  }
}

@media (max-width: 768px) {
  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }
 .logo{
  margin-top:-50px;
  margin-left:80px;
  }
  
  .news-item {
    width: calc(100% - 20px);
  }
  .search-button{
    margin-top:-12px;
  }
  .App {
    margin-left: 180px;
  }
  .channel-img {
    width: 100%;
    height: 120px;
   
  }
  .channel {
    width: 100%;
    height: 120px;
   
  }
}
@media (max-width: 576px) {
  .search-input {
    width: 100%;
    margin-bottom: 10px;
    margin-top:20px;
  }
  
  
    .search-button {
        width: 50%;
        padding: 8px 10px;
        font-size: 14px;
        max-width: 60px;
        margin-top:10px;
    }
    .section-header1{
      display:flex;
    }
    .channel {
      width: 100%;
      height: 120px;
     
    }


  .news-item {
    width: calc(100% - 20px);
  }
  
.App {
  margin-left: 80px;
  width: 80%;
}
@media (max-width: 576px) {
  .App {
    margin-left: 0px;
    width: 100%;
  }
}


  .logo{
    margin-top:-50px;
    margin-left:75px;
    }
   
}
.featured-news-container {
  position: relative;
  width: 100%;
  padding: 10px 0;
  white-space: nowrap;
  overflow: hidden; /* Ensure overflow is hidden */
}



@media (max-width: 768px) {
  .featured-news-container {
    padding: 10px; /* Adjust padding to fit the button */
  }

  .featured-news-container .save-button {
    right: 5px; /* Adjust button position for smaller screens */
    top: 5px;
    height: 25px;
    width: 50px;
    font-size: 12px;
    margin-bottom:20px;
  }
}

@media (max-width: 576px) {
  .featured-news-container {
    padding: 5px; /* Further adjust padding */
  }

  .featured-news-container .save-button {
    right: 5px; /* Keep button close to edge */
    top: 5px;
    height: 20px;
    width: 40px;
    font-size: 10px;
  }
}
.see-all-button {
  background-color: lightseagreen;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Adjust padding for larger screens */
  cursor: pointer;
  font-size: 16px; /* Default font size */
}

/* Media query for tablets and smaller screens */
@media (max-width: 768px) {
  .see-all-button {
      padding: 8px 16px; /* Adjust padding for tablets */
      font-size: 14px; /* Slightly smaller font size */
      display:flex;
  }
}

/* Media query for mobile screens */
@media (max-width: 576px) {
  .see-all-button {
      padding: 6px 12px; /* Adjust padding for mobile devices */
      font-size: 12px; /* Smaller font size for mobile devices */
  }
}
