.SignUpContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  margin-left: auto; 
  margin-right: auto; 
  width: 500px; 
  background: #fff;
  padding-bottom: 30px;
  border-radius: 30px;
  box-sizing: border-box;
  border: 1px solid black;
  padding-right: 100px;
}

.SignUpContainer .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.SignUpContainer .text {
  color: black;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}


.SignUpContainer .inputs {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.SignUpContainer input {
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  background: #eaeaee;
  border-radius: 6px;
  padding: 0 15px;
  border: none;
  outline: none;
  margin-left:100px;
}


.SignUpContainer .submit-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}


.SignUpContainer .submit {
  width: 200px;
  height: 50px;
  background: black;
  color: #fff;
  font-size: 19px;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left:80px;
}


@media (max-width: 1180px) {
  .SignUpContainer input {
    margin-left:50px;
  }
}
 



@media (max-width: 1024px) {
  .SignUpContainer {
    width: 400px;
    padding-right: 50px;
  }

  .SignUpContainer .header {
    margin-left: 0; 
  }

  .SignUpContainer .text {
    font-size: 36px;
  }

  .SignUpContainer .inputs {
    width: 300px;
  }

  .SignUpContainer input {
    width: 220px;
  }

  .SignUpContainer .submit {
    width: 180px;
  }
}


@media (max-width: 768px) {
  .SignUpContainer {
    width: 90%;
    padding-right: 20px;
  }

  .SignUpContainer .header {
    margin-left: 0; 
  }

  .SignUpContainer .text {
    font-size: 28px;
  }

  .SignUpContainer .inputs {
    width: 100%; 
  }

  .SignUpContainer input {
    width: 75%;
  }

  .SignUpContainer .submit {
    width: 150px;
  }
}


@media (max-width: 480px) {
  .SignUpContainer {
    width: 80%;
    padding-right: 10px;
    margin-left: 10%; 
    margin-right: 10%; 
  }

  .SignUpContainer .text {
    font-size: 24px;
  }

  .SignUpContainer .inputs {
    width: 100%; 
  }

  .SignUpContainer input {
    width: 60%;
    margin-left: 50px;
}


  .SignUpContainer .submit {
    width: 40%; 
  }
}
