
.slick-slider,
.slick-list,
.slick-track {
  position: relative;
  display: block;
  overflow: hidden;
}


.slick-slide {
  float: left;
  min-height: 1px;
  padding: 0 10px; 
}


.slick-track {
  display: flex; 
  align-items: center; 
}


.slick-prev, .slick-next {
  z-index: 1; 
}


.news-item1 {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 10px; 
}


.news-item-title1 {
  font-size: 18px;
  margin-bottom: 10px;
}


.featured-news-img img {
  width: 100%; 
  border-radius: 5px; 
}


@media (max-width: 768px) {
  .slick-slide {
    padding: 0 5px; 
  }
}
